@font-face {
  font-family: 'Golos';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~/assets/fonts/golos-regular.woff2') format('woff2'), url('~/assets/fonts/golos-regular.woff') format('woff');
}
@font-face {
  font-family: 'Golos';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('~/assets/fonts/golos-medium.woff2') format('woff2'), url('~/assets/fonts/golos-medium.woff') format('woff');
}
@font-face {
    font-family: 'Golos';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('~/assets/fonts/golos-bold.woff2') format('woff2'), url('~/assets/fonts/golos-bold.woff') format('woff');
}

$fontFamily: 'Golos';
$fontApple: -apple-system, system-ui, BlinkMacSystemFont, “Segoe UI”, Roboto, “Helvetica Neue”, Arial, sans-serif;

$tablet-width: 768px;
$desktop-width: 1280px;
$big-desktop-width: 1440px;
$desktop-large-width: 1920px;
$mobile-width-only: 767px;
$iphone-mini-only: 320px;
$iphone-se-only: 375px;
$iphone-12: 390px;

$color-black: #222;
$color-white: #FDFDFD;
$color-orange: #ff5e0e;
$color-grey: #565656;
$color-grey-light: #afafaf;
$color-grey-dark: #919399;
$color-grey-light-main: #dedede;
$color-red: #ef3e3e;
$color-card: #d4d4d4;
$color-main: #f40a1e;

$transition-hover: 0.2s cubic-bezier(0.37, 0, 0.63, 1);

$box-shadow: 0 0 8px rgb(0 0 0 / 12%);
$box-shadow-green: 0 2px 8px rgb(76 175 80 / 32%);
$box-shadow-hover: 0 2px 8px rgb(0 0 0 / 16%);
$border-radius: 10px;
$border-radius-small: 6px;
$border-radius-smallest: 4px;
$border-radius-maximum: 24px;
$border-radius-max: 24px;

:root {
  --offerCreditColor: transparent;
}
