.benefits {
  margin-bottom: 16px;

}

.benefits__line {
  @include horizontal-scrollbar;
  display: flex;
  flex-wrap: nowrap;
  overflow-y: scroll;
  width: calc(100% + 32px);
  margin-left: -16px;
  padding-left: 16px;
  gap: 12px;
}

.benefits__item {
  min-width: 192px;
  cursor: pointer;
  background: $color-black;
  div{
    color: $color-white;
  }
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  height: 64px;
  justify-content: center;
  text-align: center;
}

.benefits__item .nuxt-icon {
  width: 32px;
  min-width: 32px;
  height: 32px;

}

.benefits__item-title {
  font-size: 16px;
}

.benefits__item-text {
  font-size: 14px;
}


@media screen and (min-width: $desktop-width) {
  .benefits__item {
    padding: 16px;
    min-width: auto;
    height: 100px;
    flex: 1;
    gap: 12px;
  }
  .benefits__item-title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
  }
  .benefits__item-text {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
  }
  .benefits__line {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
  }
}



.benefits__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.benefits__modal-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 13;
  background: rgba(0, 0, 0, .64);
}

.benefits__modal-content {
  z-index: 14;
  position: absolute;
  width: 100%;
  max-width: 460px;
  min-height: 80px;
  border-radius: $border-radius;
  top: 50%;
  left: 50%;
  background: #fff;
  padding: 22px 40px;
  transform: translateX(-50%) translateY(-50%);
}

.benefits__modal-close {
  position: absolute;
  top: 8px;
  font-size: 40px;
  right: 12px;
  cursor: pointer;
}
.benefits__modal-title{
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: 1px solid $color-grey-light;
  padding-bottom: 12px;
}

.benefits__modal-text{
  margin-top: 12px;
}

.benefits__modal-test {
  padding-right: 8px;
}


