
.pagination {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin-top: 16px;
  padding-bottom: 24px;
  margin-top: 28px;
  *{
    font-size: 18px;
  }
}

.pagination li {
  border: none;
  //margin: 0 4px;
  font-size: 14px;

  &:first-child {
    //background: $ color-info;
  }

  &:last-child {
    //background: $ color-info;
  }

  &.active a {
    color: $color-main;
  }

  &.prev.disabled {
    display: none;
  }
  &.next.disabled {
    display: none;
  }

  &:hover {

  }

}

.pagination li.active a {

}

.pagination li a {
  display: block;
  cursor: pointer;
  border: 1px solid $color-grey-light-main;
  padding: 8px 16px;
  border-right: none;
  &:last-child{
    border-right: 1px solid $color-grey-light-main;
  }
}
@media screen and (max-width: $mobile-width-only) {
  .pagination li a {
    padding: 8px 12px;
  }
  .prev,.disabled{
      display: none;
  }
}

@media screen and (min-width: $desktop-width) {
  .pagination {
    justify-content: center;
  }
}