.section {

}

.section--thanks {
  margin-top: 48px;
}

.section--filters {
  background: $color-white;
  margin-top: 4px;
  padding: 16px 0;
}

.section--marks {
  margin-top: 24px;
}

.section--folders {
  margin-top: 24px;
}

.section--folders-catalog {
  margin-top: 48px;
}

.section--benefits {
  margin-top: -54px;
  position: relative;

  z-index: 2;
}

.section--title {
  margin-top: 24px;
}

.section--home {
  margin-top: 24px;
}

.section--banks {
  margin-top: 48px;
}

.section--home-folders {
  margin-top: 18px;
}

.section--home-folders {
  margin-top: 18px;
  .f-button{
    background: black !important;
    border-radius: 50%;
  }
}

.section--contacts {
  margin-top: 48px;
}

.section--services {
  margin-top: 48px;
}

.section--sets {
  margin-top: 0px;
}

.section--body-types {
  margin-top: 24px;
}

.section--catalog {
  margin-top: 0px;
}
@media screen and (max-width: $tablet-width) {
  .section--home-folders {
    margin-top: 30px;
  }
  .section--filters {
    margin-bottom: 0;
  }
  .section--filters {
    padding-bottom: 0;
  }
}

@media screen and (min-width: $desktop-width) {
  .section--home-folders {
    margin-top: 20px;
  }
  
}