.catalog__filters-controllers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  position: relative;
  margin-bottom: 40px;
}
.catalog__sort {
   display: flex;
   gap: 8px;
   margin-left: auto;

   flex-direction: column;
   position: absolute;
   z-index: 5;
   right: 0;
   top: 0;
   gap: 0;
   min-width: 180px;
   margin-right: 0;
   margin-bottom: 16px;
  //  margin-right: 24px;
  // @media screen and (max-width: $tablet) {
  &.catalog__sort--open {
    .catalog__sort-item {
      display: block;
    }
  }
}

.catalog__sort-item {
  background: #fff;
  display: none;
  position: relative;
  cursor: pointer;
  padding: 12px;
  border: 1px solid $color-grey-light;
  border-bottom: none;
  z-index: 2;
  border-radius: 0 !important;
  &:last-child{
    border-bottom: 1px solid $color-grey-light;
  }
}

.catalog__sort-data {
   display: none;

  svg {
    margin-left: 6px;
    width: 24px;
    height: 24px;
  }
}


.catalog__sort-icon{
  width: 24px;
  height: 24px;
  color: $color-main;
  margin-right: 2px;
}
.catalog__filter-icon{
  width: 24px;
  height: 24px;
  color: $color-main;
  margin-right: 2px;
}

.catalog__sort-item {
   padding: 12px 26px;
   border-radius: 32px;
   color: $color-black;
   cursor: pointer;
   background: $color-grey-secondary;
  font-weight: 600;
  &.catalog__sort-item--active {
    color: $color-main;
  }

}
.catalog__filters-controllers {
  margin-top: 0;
  width: 100%;
}

.catalog__sort-data {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  //padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 8px;
  text-align: right;
}

@media screen and (max-width: $tablet-width) {
  .catalog__sort-data {
    margin-bottom: 14px;
  }
  .catalog__filters-controllers {
    margin-bottom: 28px;
  }
}


@media screen and (max-width: 365px) {
  .catalog__sort-icon,.catalog__filter-icon{
    width: 18px;
    height: 18px;
  }
}

@media screen and (max-width: 346px) {
  .catalog__sort-icon,.catalog__filter-icon{
    display: none !important;
  }
}
