.text__p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.text__p--home {
  font-size: 14px;
  line-height: 16px;
  width: 80%;
}

@media screen and (min-width: $desktop-width) {

  .text__p--home {
    margin-top: 16px;
    font-size: 16px;
    line-height: 20px;
    width: 40%;
  }
}

.mt-5{
  margin-top: 25px;
}
.mt-4{
  margin-top: 20px;
}
.mt-3{
  margin-top: 15px;
}
.mt-2{
  margin-top: 10px;
}
.mt-1{
  margin-top: 5px;
}